.NoTextSelect {
  user-select: none;
}

.Rotated90Clockwise {
  transform: rotate(90deg);
}

.Byte {
  width: 1.5vw;
  height: 1.5vw;
  display: inline-block;
  line-height: 1.5vw;
  text-align: center;
}

.ByteSelected {
  color: white;
  background-color: rgba(0, 0, 255, 0.7);
}

.ByteSequenceDividerMargin {
  margin-left: 0.4vw;
}

.Ascii {
  width: 0.65vw;
}

.HeaderByte {
  font-weight: bold;
}

.HeaderRow {
  border-bottom: lightgray solid 2px;
}
