.NoTextSelect {
  user-select: none;
}

.Rotated90Clockwise {
  transform: rotate(90deg);
}

.Byte {
  width: 1.75rem;
  height: 1.75rem;
  display: inline-block;
  font-size: medium;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: center;
}

.ByteSelected {
  color: white;
  background-color: black;
}

.Ascii {
  width: 1rem;
}

.HeaderByte {
  font-weight: bold;
}

.HeaderRow {
  border-bottom: lightgray solid 2px;
}
